# list all file that should not included/tracked in repository

# ignore all object files 
*.o

#ignore folder library and dependecy
lib
.libs
.deps
.settings

# ignore Makefile and Makefile.in, since it will generate every compile samoussa
Makefile
Makefile.in

# ignore files generated during autoreconf and ./install.default process
*.log
config.status
compile
config.h
config.h.in
config.guess
config.sub
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
missing
aclocal.m4
autom4te.cache
depcomp
html
latex
stamp-h1

#ignore dpklnx folder
dpklnx

#ignore vscode except tasks.json
.vscode/*
!.vscode/tasks.json

#ignore unit test framework
*.gcda
*.gcno
*.html
*.png
*.css
*.info
unit-test/bin
unit-test/

m4/
build
test
*.tar.gz